BODY {
	color: #111111;
	background-color: #EEEEEE;
}
PRE {
	color: #00FF00;
	background-color: #001100;
	margin: 20px;
	padding: 20px;
}
.toc {
	color: #000000;
	background-color: #DDDDDD;
	width: 100%;
}
.tabel.normal {
	color: #111111;
	background-color: #BBBBBB;
}
p.quote {
      color:blue;
}
