BODY {
	color: #111111;
	background-color: #EEEEEE;
}
PRE {
	color: #00FF00;
	background-color: #001100;
	margin: 20px;
	padding: 20px;
}
table.table {
	border: 1px solid black;
	border-collapse: collapse;
}
td.table {
	border: 1px solid black;
	border-collapse: collapse;
}
td.sidenote {
	width: 15%;
	font-size: 75%
}

.toc {
	color: #000000;
	background-color: #DDDDDD;
	width: 100%;
}
div.cel {
	color: #111188;
}
div.list {
	background-color: #FEFEFE;
}
div.sidenote{
	font-size: 75%
}
div.side {
	font-size: 75%
}
div.test {
	color: #BB00BB;
}
div.classtest {
	color: #BB0000;
}
div.alinea {
}
div.alineacourier {
	font-family: "Courier New", Courier;
}


table.normal {
	color: #111111;
	background-color: #BBBBBB;
	border: 1px solid black;
	border-collapse: collapse;
}
p.quote {
      color:blue;
}
.lst {
	font-family:"Courier New";
}
.fixed {
	font-family:"Courier New";
}

